html,
body {
  background-color: black;
}

.logo {
  height: 400px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 65%);
  z-index: 2;
  transition: 0.5s ease-in, 0.5s ease-out;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

.photoBay {
  float: left;
  position: absolute;
  width: 50%;
  height: 100vh;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.photoCity {
  float: right;
  position: relative;
  width: 50%;
  height: 100vh;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.photoBay:hover,
.photoCity:hover {
  width: 100%;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  z-index: 1;
}
